<!DOCTYPE html>
<html lang="en"  ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <script src="./angular/angular.min.js"></script>
</head>
<body>
    <main>
        <div class="container">
            <div ng-controller="MyController1 as Ctr1">
                <div ng-controller="MyController2 as Ctr2">
                    <div ng-controller="MyController3 as Ctr3">
                        {{ Ctr3.name }}
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="Ctr3.name">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="Ctr3.hello()">Click me</button>
                            </span>
                        </div>

                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Year</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="book in Ctr3.books">
                                    <td>{{$index + 1}} {{$first}}</td>
                                    <td>{{book.title}}</td>
                                    <td>{{book.year}}</td>
                                    <td>{{book.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="./script.js"></script>
</body>
</html>