<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Year</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in books">
                <td>{{$index + 1}} {{$first}}</td>
                <td>{{book.title | myFilter : '!' : '?'}}</td>
                <td>{{book.year}}</td>
                <!-- <td>{{book.price}}</td> -->
                <!-- <td>{{book.price | number : 2}} $</td> -->
                <td>{{book.price | currency : '$' : 2}}</td>
            </tr>
        </tbody>
    </table>
    
    <!-- <p>{{test}}</p> -->
</div>