<h1>Список книг</h1>
<p><input type="text" name="search" class="form-control" ng-model="search"></p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Year</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in books | filter: search" class="slide-down repeat-animation">
            <td>{{$index + 1}} {{$first}}</td>
            <td><a href="book/{{book.id}}">{{book.title}}</a></td>
            <td>{{book.author}}</td>
            <td>{{book.year}}</td>
            <td>{{book.price | currency : 'руб' : 2}}</td>
        </tr>
    </tbody>
</table>